@charset "UTF-8";
html {
  /* font-sizeは16pxの62.5%の10px */ }
  html html {
    font-size: 62.5%; }

body {
  margin: 0;
  font-size: 1.6rem; }
  body p {
    margin: 0;
    font-family: 'Noto Sans JP',sans-serif; }

a {
  text-decoration: none;
  font-family: 'Noto Sans JP',sans-serif; }
  a:hover {
    opacity: 0.7;
    transition: 0.3s; }

button {
  background-color: transparent;
  appearance: none;
  border: none; }

/*section-works-bg*/
.gray-bg {
  background-color: #f2f2f2; }

/*font*/
h2 {
  font-size: 3.2rem;
  font-family: 'Montserrat';
  font-weight: bold;
  margin: 0; }

/*btn*/
.link-btn {
  font-size: 1.2rem;
  background-color: #000;
  color: #fff;
  font-family: 'Montserrat';
  font-weight: medium;
  padding: 13px 44px;
  line-height: 32px; }

/*header title navi*/
.site-title {
  position: fixed;
  top: 38px;
  left: 4vw;
  z-index: 1; }

.burger-btn {
  position: fixed;
  top: 38px;
  right: 4vw;
  z-index: 1;
  cursor: pointer;
  color: #fff; }
  .burger-btn:hover {
    opacity: 0.7;
    transition: 0.3s; }
  .burger-btn .menu {
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5px; }

.header-nav {
  display: none; }

/*key visual*/
.fv {
  height: 100vh; }

.fv::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222222;
  width: 54.2%;
  height: 100%;
  z-index: -1; }

.kv-wrapper {
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url("../images/kv-img.png");
  width: 76.4%;
  height: 86.5%; }

.copy-wrapper {
  color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%); }
  .copy-wrapper .copy-jp {
    font-size: 2rem;
    font-family: '游ゴシック'; }
  .copy-wrapper .copy-company {
    font-family: 'Montserrat';
    font-weight: medium;
    font-size: 2rem; }
  .copy-wrapper .main-copy {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 7.2rem;
    line-height: 8.6rem; }

/*section-about*/
.section-wrapper:first-of-type {
  padding-top: 120px;
  position: relative; }
  .section-wrapper:first-of-type .about-bg {
    background-image: url("../images/about-img.png");
    background-size: cover;
    background-position: center;
    padding: 110px 0 110px 50px;
    width: 1100px;
    margin: auto; }
  .section-wrapper:first-of-type .about-content {
    background-color: #fff;
    padding: 50px 30px 65px 30px;
    max-width: 590px;
    box-sizing: content-box; }
    .section-wrapper:first-of-type .about-content p {
      line-height: 2.3rem;
      padding: 29px 0 40px 0;
      font-size: 1.2rem; }

/*section-works gray-bg*/
.section-wrapper:first-of-type::after {
  content: "";
  width: 100vw;
  height: 100px;
  background-color: #f2f2f2;
  display: block;
  position: absolute;
  bottom: 0;
  z-index: -1; }

.l-content-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  box-sizing: content-box; }
  .l-content-wrapper h2 {
    margin: 80px 0 30px 0; }
  .l-content-wrapper p {
    font-size: 1rem;
    font-family: "游ゴシック";
    margin: 20px 0 30px 0; }

/*# sourceMappingURL=style.css.map */
